html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --background-dark-grey: #2f303a;
  --grey-color: #757575;
  --blue-logo-color: #2196f3;
  --dark-logo-color: #000000;
  --white-color: #ffffff;
  --current-color-dark: #212121;
  --light-gray-backg: #f5f4fa;
  --footer-primary-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Цвет текста WebStudio */

.logo-link {
  width: 145px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;

  color: var(--blue-logo-color);
}
.accent {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--dark-logo-color);
}
.header-link,
.header-mail,
.header-phone,
.address-mail,
.address-phone {
  text-decoration: none;
  color: var(--current-color-dark);
}
/* header-nav */

.header-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--current-color-dark);
}
.header-link:hover,
:focus {
  color: var(--blue-logo-color);
}
.header-item .current {
  color: var(--blue-logo-color);
}

.header-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--grey-color);
}
.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--blue-logo-color);
}
.header-phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--grey-color);
}

/* section Hero */

.hero {
  background-color: var(--background-dark-grey);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* button */

.hero-btn {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #138cef;
}

/* section about */

.about-title {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--current-color-dark);
}
.about-item {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--grey-color);
}
.about,
.about-team {
  background: #e5e5e5;
}

.about-titlee {
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--current-color-dark);
}

/* section team */

.team {
  padding-bottom: 94px;
  background: #f5f4fa;
}
.it-team {
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--current-color-dark);
}

.it {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--current-color-dark);
}

.profession {
  width: 322px;
  padding-bottom: 30px;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--grey-color);
}

/* Footer */

footer {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}
.logo-accent {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--white-color);
}
.address {
  margin-bottom: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--white-color);
}
.address-mail,
.address-phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* portfolio button */
.all {
  width: 73px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.all:hover,
.all:focus {
  background: var(--blue-logo-color);
}

.button .current {
  color: var(--blue-logo-color);
}
.web {
  width: 128px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}

.web:hover,
.web:focus {
  background: var(--blue-logo-color);
}

.app {
  width: 145px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}

.app:hover,
.app:focus {
  background: var(--blue-logo-color);
}

.dis {
  width: 103px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}

.dis:hover,
.dis:focus {
  background: var(--blue-logo-color);
}

.markt {
  width: 130px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
.markt:hover,
.markt:focus {
  background: var(--blue-logo-color);
}

/* наши возможности */
.site {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--current-color-dark);
}

/* box */

.box {
  margin-bottom: 50px;
  border: 5px solid tomato;
  padding: 20px;
  margin: 20px;
  outline: 2px solid tomato;
}

/* header container */
.header-list {
  column-gap: 50px;
}

.header {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-mail {
  margin-left: auto;
  margin-right: 50px;
}

.pege-header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.header-list {
  display: flex;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.line-container {
  margin: o auto;
  width: 1600;
  border: 1px solid #ececec;
  position: absolute;
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;
  outline: 2px solid tomato;
}
/* hero container */

.hero-btn {
  margin-bottom: 200px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero-title {
  text-align: center;
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.page-about {
  padding-top: 94px;

  column-gap: 30px;
}

.about-title {
  width: 270px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.about-img {
  width: 370px;
}

.about-item {
}

.about-list {
  padding-bottom: 94px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* footer section */
.logo-link-footer {
  width: 145px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--blue-logo-color);
}
.footer {
  padding-top: 60px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}

.add {
  width: 231px;
  margin-top: 20px;
  margin-bottom: 9px;
}

.address-mail {
  box-sizing: border-box;
  margin-right: auto;
  width: 231px;
  margin-bottom: 9px;
}
.address-phone {
  box-sizing: border-box;
  margin-right: auto;
  width: 231px;
}
.footer-container {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* resset */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

section {
  margin: 0 auto;
  width: 1600px;
}
/* resset */

/* =======portfolio==============*/
.list-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.img-container {
}
.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.img-portfolio {
  background-color: #e5e5e5;
}
.site {
  margin-left: 0;
  width: 322px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.team-img {
  width: 270px;
}
